@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-vend-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.information-feed-v-2 {
  position: relative;
  padding: 0px 0px 141px 0px;
  box-sizing: border-box;
  background-color: #212121;
  width: 428px;
  height: 100vh;
  overflow-y: scroll;
  margin-left:auto;
  margin-right:auto;
}


.frame-11 {
  height: 100%;
}

.milestone-logo {
  width: 22px;
  height: 18.63px;
  margin-right: 87px;
}

.txt-088 {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-right: 87px;
}

.user-icon {
  width: 18px;
  margin-top: 2px;
  height: 16.5px;
}

.action-item-header {
  margin-top: .8em;
  margin-left: 24px;
  width: 122px;
  height: 18.75px;
}

.caption-frame {
  margin-top: 8px;
  margin-left: 23px;
  width: 305px;
  height: 32px;
}

.caption-header {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;


}

.caption-context {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgb(144, 144, 144);
  word-wrap: break-word;
  text-decoration: none;

  transition: all .1s linear;
}
.caption-context:hover {
  color:#3aad93;
}

.frame-10 {
  position: absolute;
  top: 143px;
  left: 0px;
  height: 641px;
  width: 100%;
}

.image-frames {
  width:fit-content;
  min-height: 31px;
}

.image-frame-5 {
  background-color: rgba(10, 10, 10, 1);
  height: 238px;
  border-radius: 10px;
  margin-bottom:160px;
  width: 100%;
}

.image-frame-6 {
  background-color: rgba(10, 10, 10, 1);
  height: 238px;
  border-radius: 10px;
  width: 100%;
}

.profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.image-frames {
  height: 100%;
}

.user-name {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 2px;
}

.post-date {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}


.profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.image-frames {
  height: 100%;
}

.txt-2102 {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 2px;
}

.txt-992 {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.post-link {
  text-decoration: none;
  transition: all 0.2s linear;
}
.post-link:hover {
  transform: scale(1.05);
}
.landing-link{
  text-decoration: none;
  transition: all 0.15s linear;
  margin-top: 4px;
}
.landing-link:hover {
  transform: scale(1.05)
}


/* New feed styling */

