.friends-list-content {
    position: relative;
    box-sizing: border-box;
    background-color: #1f1e1e;
    width: 428px;
    min-height: 100vh;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}