.post-content{
    position: relative;
    box-sizing: border-box;
    background-color: #1f1e1e;
    width: 428px;
    min-height: 926px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow:hidden;
  }

.post-footer{
    position: absolute;
    bottom:0;
    align-self: center;
    min-width:100%
    
}
.post-item-container {
  display:flex;
  overflow: auto;
  flex-flow:column;
  min-width:100%;
  padding-bottom: 1em;
}

.top-space-standalone {
  padding-top:2.625em;
}
.post-milestones-container {
  position: absolute;
  margin-left:auto;
  margin-right:auto;

  top:52.5%;
  display: flex;
  flex-flow:column;
  min-width: 336px;
  align-self: center;

}
.post-milestones-log {
  list-style: none;
}