 
.content{
  position: relative;
  box-sizing: border-box;
  background-color: #212121;
  width: 428px;
  min-height: 100vh;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.feed-container {
    display:flex;
    overflow: auto;
    flex-flow:column;
    min-width:100%;
    background-color: #212121;
    padding-top:4em;
    padding-bottom:4em;
}
  
.feed-items {
  padding:0;
}

.top-space {
  padding-top:6em;
  background-color: #2c2b2b;
  color:white;
}