.top-header {
    background-color: rgba(10, 10, 10, 1);
    position: fixed;
    top:0;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index:999;
    overflow:hidden;
    width: 428px;
    min-height: 3.625em;
  }

.bottom-footer {
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    z-index:999;
    background-color: rgba(10, 10, 10, 1);
    width: 428px;
    min-height: 3rem;
}

  .nav-wrapper {
    padding:4px;
    display: flex;
    justify-content: center;
    align-self: center;
    
    width: 100%;
  }

  .foot-wrapper {
    padding:4px;
    width: fit-content;
    display: flex;
    gap:3.75em;
  }
  .landing-link {
    width:4px;
    min-height:.275em;
  }
  .create-milestone-link {
    width:100%;
    min-height:.275em;
  }
  .create-milestone-link:hover{
   transform: scale((1.25));
  }
  .landing-link:hover {
    transform: scale(1.25);
  }
  .profile-link {
    width: 100%;
    min-height:.25em;
    margin-top:3px;
    justify-self:flex-end;
    float:right;
    text-decoration: none;
    transition: all 0.15s linear;
  }
  .profile-link:hover {
    transform: scale(1.25);
  }
  .milestone-logo {
    min-width: 1.575em;
    float: left;
    height:1.525em;
    transition: all .15s linear;
    margin-top:1px;
    margin-left:2px;
  }
  .milestone-logo:hover {
    transform: scale(1.2)
  }

  .top-brand {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    line-height: 24px;
  }

  .top-brand-toggled {
    font-size: 18.5px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    line-height: 24px;
  }
  
  .user-icon {

    width: 1.75em;
    height: 1.75em;
    float:right;
    border-radius: 50%;
  }
  .footer-line {
    background-color: #00523F;
    color: #00523F;
    height:8px;
    width: 100%;
  }

  .post-link {
    text-decoration: none;
    transition: all 0.2s linear;
  }
  
  .post-link:hover {
    transform: scale(1.05);
  }
  .milebook-button{
    float:left;
    min-height:1.25em;
    background-color:transparent;
    width: 1.5rem;
    border:none;
    outline:none;
    padding-left: 16px;
    padding-top:2px;

  }
  .profile-button {
   border:none;
   min-height:1.25em;
   max-width: 1.75rem;
   outline:none;
   padding-top:2px;
   padding-right:4px;
   background-color:transparent;
  }
  .top-arrow-toggle {
    color:white;
    left:0;
    margin-left:2em;
    width:10px;
    height:14px;
    position: absolute;
    transform: scaleX(1.1);
    transition: all .2s linear;
  }
  .top-arrow-toggle:hover {
    transform: scale(1.3);
  }
  .toggle-backarrow-button {
    
    border:none;
    position: absolute;
    outline:none;
    max-width: 10px;
  }
.profile-back-link {
  left:0;
  border:none;
  position: absolute;
  outline:none;
  max-width: 10px;
  padding-bottom: .875em;
}

.feedpage-button {
  min-width: 2.15em;
  min-height:2em;
  background-color: transparent;
  outline:none;
  border:none;
  padding-top:3px;

}
.feedpage-icon {
  min-width: 2em;
  color:white;
  min-height:1.75em;
}

.add-post-button{
  max-width: 2em;
  min-height:2em;
  background-color: transparent;
  outline:none;
  border:none;
  padding-top:6px;
}
.add-post-icon {
  min-width: 1.875em;
  color:white;
  min-height:1.875em;
  margin-left:13px;
  transition: all 0.15s linear;
}

.add-post-icon:hover {
  transform: scale(1.25);
  color:#2a8772;
}

.friends-page-button{
  max-width: 2em;
  min-height:2em;
  background-color: transparent;
  outline:none;
  border:none;
  padding-top:7px;
  padding-left:6px;
}
.friends-list-icon {
  min-width: 1.875em;
  color:white;
  min-height:1.875em;
  margin-bottom:1px;
  transition: all 0.15s linear;
}
.friends-list-icon:hover {
  transform: scale(1.25);

}